In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(["a", "b", "c"], columns=["technology"])

In [4]:
df

  technology
0          a
1          b
2          c