In [1]:
%load_ext lab_black

In [23]:
import pandas as pd

In [2]:
from mppsteel.data_preprocessing.variable_plant_cost_archetypes import (
    PlantVariableCostsInput,
)

In [15]:
pvci = PlantVariableCostsInput()

In [16]:
pvci.business_cases

Empty DataFrame
Columns: [technology, material_category, metric_type, unit, value]
Index: []

In [14]:
# pvci.business_cases.iloc[-1] = ["Avg BF-BOF", "Electricity", "Purchased energy", "GJ/t steel", 1.0]

In [12]:
pvci.business_cases.append(
    ["Avg BF-BOF", "Electricity", "Purchased energy", "GJ/t steel", 1.0]
)

                  0 material_category metric_type technology unit value
0        Avg BF-BOF               NaN         NaN        NaN  NaN   NaN
1       Electricity               NaN         NaN        NaN  NaN   NaN
2  Purchased energy               NaN         NaN        NaN  NaN   NaN
3        GJ/t steel               NaN         NaN        NaN  NaN   NaN
4               1.0               NaN         NaN        NaN  NaN   NaN

In [13]:
pvci.business_cases.append(
    [["Avg BF-BOF", "Electricity", "Purchased energy", "GJ/t steel", 1.0]]
)

,0,1,2,3,4,material_category,metric_type,technology,unit,value
0,Avg BF-BOF,Electricity,Purchased energy,GJ/t steel,1.0,NaN,NaN,NaN,NaN,NaN

In [20]:
row = {
    "technology": "Avg BF-BOF",
    "material_category": "Electricity",
    "metric_type": "Purchased energy",
    "unit": "GJ/t steel",
    "value": 1.0,
}
pvci.business_cases = pvci.business_cases.append(row, ignore_index=True)

In [21]:
pvci.business_cases

   technology material_category       metric_type        unit  value
0  Avg BF-BOF       Electricity  Purchased energy  GJ/t steel    1.0

In [25]:
pd.DataFrame([row])

   technology material_category       metric_type        unit  value
0  Avg BF-BOF       Electricity  Purchased energy  GJ/t steel    1.0