In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [3]:
from mppsteel.data_preprocessing.variable_plant_cost_archetypes import (
    PlantVariableCostsInput,
)

In [15]:
pvci = PlantVariableCostsInput()

In [16]:
pvci.business_cases

Empty DataFrame
Columns: [technology, material_category, metric_type, unit, value]
Index: []

In [14]:
# pvci.business_cases.iloc[-1] = ["Avg BF-BOF", "Electricity", "Purchased energy", "GJ/t steel", 1.0]

In [12]:
pvci.business_cases.append(
    ["Avg BF-BOF", "Electricity", "Purchased energy", "GJ/t steel", 1.0]
)

                  0 material_category metric_type technology unit value
0        Avg BF-BOF               NaN         NaN        NaN  NaN   NaN
1       Electricity               NaN         NaN        NaN  NaN   NaN
2  Purchased energy               NaN         NaN        NaN  NaN   NaN
3        GJ/t steel               NaN         NaN        NaN  NaN   NaN
4               1.0               NaN         NaN        NaN  NaN   NaN

In [13]:
pvci.business_cases.append(
    [["Avg BF-BOF", "Electricity", "Purchased energy", "GJ/t steel", 1.0]]
)

,0,1,2,3,4,material_category,metric_type,technology,unit,value
0,Avg BF-BOF,Electricity,Purchased energy,GJ/t steel,1.0,NaN,NaN,NaN,NaN,NaN

In [20]:
row = {
    "technology": "Avg BF-BOF",
    "material_category": "Electricity",
    "metric_type": "Purchased energy",
    "unit": "GJ/t steel",
    "value": 1.0,
}
pvci.business_cases = pvci.business_cases.append(row, ignore_index=True)

In [21]:
pvci.business_cases

   technology material_category       metric_type        unit  value
0  Avg BF-BOF       Electricity  Purchased energy  GJ/t steel    1.0

In [25]:
pd.DataFrame([row])

   technology material_category       metric_type        unit  value
0  Avg BF-BOF       Electricity  Purchased energy  GJ/t steel    1.0

# From Filesystem

In [4]:
from pathlib import Path

from mppsteel.config.model_scenarios import DEFAULT_SCENARIO
from mppsteel.config.model_config import USD_TO_EUR_CONVERSION_DEFAULT

In [5]:
scenario_dict = DEFAULT_SCENARIO.copy()
scenario_dict["usd_to_eur"] = USD_TO_EUR_CONVERSION_DEFAULT
scenario_dict["eur_to_usd"] = 1.0 / scenario_dict["usd_to_eur"]
project_dir = Path.cwd().parent.parent

In [6]:
pvci = PlantVariableCostsInput.from_filesystem(scenario_dict)

# Calculate Cost

In [7]:
from mppsteel.data_preprocessing.variable_plant_cost_archetypes import (
    plant_variable_costs_vectorized,
)

In [8]:
pvci.resource_category_mapper

{'Iron ore': 'Feedstock',
 'Scrap': 'Feedstock',
 'DRI': 'Feedstock',
 'Met coal': 'Fossil Fuels',
 'Thermal coal': 'Fossil Fuels',
 'Coke': 'Fossil Fuels',
 'COG': 'Fossil Fuels',
 'BF gas': 'Fossil Fuels',
 'BOF gas': 'Fossil Fuels',
 'Natural gas': 'Fossil Fuels',
 'Plastic waste': 'Fossil Fuels',
 'Biomass': 'Bio Fuels',
 'Biomethane': 'Bio Fuels',
 'Hydrogen': 'Hydrogen',
 'Electricity': 'Electricity',
 'Steam': 'Other Opex',
 'BF slag': 'Other Opex',
 'Other slag': 'Other Opex',
 'Captured CO2': 'CCS',
 'Used CO2': 'CCS',
 'Process emissions': 'Emissivity',
 'Emissivity wout CCS': 'Emissivity',
 'Emissivity': 'Carbon Cost'}

In [9]:
%%time
df = plant_variable_costs_vectorized(pvci)

CPU times: user 986 ms, sys: 178 ms, total: 1.16 s
Wall time: 1.16 s

In [10]:
df

,technology,material_category,metric_type,unit,value,year,country_code,cost,price
0,Avg BF-BOF,Iron ore,Feedstock,t/t steel,1.367188,2020,DZA,133.615284,97.73
1,Avg BF-BOF,Iron ore,Feedstock,t/t steel,1.367188,2020,AGO,133.615284,97.73
2,Avg BF-BOF,Iron ore,Feedstock,t/t steel,1.367188,2020,EGY,133.615284,97.73
3,Avg BF-BOF,Iron ore,Feedstock,t/t steel,1.367188,2020,LBY,133.615284,97.73
4,Avg BF-BOF,Iron ore,Feedstock,t/t steel,1.367188,2020,MAR,133.615284,97.73
...,...,...,...,...,...,...,...,...,...
1192131,BAT BF-BOF+BECCUS,Emissivity,Other,tCO2/t steel,-0.404088,2050,SAU,0.000000,NaN
1192132,BAT BF-BOF+BECCUS,Emissivity,Other,tCO2/t steel,-0.404088,2050,SYR,0.000000,NaN
1192133,BAT BF-BOF+BECCUS,Emissivity,Other,tCO2/t steel,-0.404088,2050,CAN,0.000000,NaN
1192134,BAT BF-BOF+BECCUS,Emissivity,Other,tCO2/t steel,-0.404088,2050,MEX,0.000000,NaN
1192135,BAT BF-BOF+BECCUS,Emissivity,Other,tCO2/t steel,-0.404088,2050,USA,0.000000,NaN