In [19]:
%load_ext lab_black

In [14]:
import pandas as pd

In [7]:
from mppsteel.data_preprocessing.variable_plant_cost_archetypes import (
    PlantVariableCostsInput,
)

In [15]:
pvci = PlantVariableCostsInput()

In [16]:
pvci.business_cases

Empty DataFrame
Columns: [technology, material_category, metric_type, unit, value]
Index: []

In [14]:
# pvci.business_cases.iloc[-1] = ["Avg BF-BOF", "Electricity", "Purchased energy", "GJ/t steel", 1.0]

In [12]:
pvci.business_cases.append(
    ["Avg BF-BOF", "Electricity", "Purchased energy", "GJ/t steel", 1.0]
)

                  0 material_category metric_type technology unit value
0        Avg BF-BOF               NaN         NaN        NaN  NaN   NaN
1       Electricity               NaN         NaN        NaN  NaN   NaN
2  Purchased energy               NaN         NaN        NaN  NaN   NaN
3        GJ/t steel               NaN         NaN        NaN  NaN   NaN
4               1.0               NaN         NaN        NaN  NaN   NaN

In [13]:
pvci.business_cases.append(
    [["Avg BF-BOF", "Electricity", "Purchased energy", "GJ/t steel", 1.0]]
)

,0,1,2,3,4,material_category,metric_type,technology,unit,value
0,Avg BF-BOF,Electricity,Purchased energy,GJ/t steel,1.0,NaN,NaN,NaN,NaN,NaN

In [20]:
row = {
    "technology": "Avg BF-BOF",
    "material_category": "Electricity",
    "metric_type": "Purchased energy",
    "unit": "GJ/t steel",
    "value": 1.0,
}
pvci.business_cases = pvci.business_cases.append(row, ignore_index=True)

In [21]:
pvci.business_cases

   technology material_category       metric_type        unit  value
0  Avg BF-BOF       Electricity  Purchased energy  GJ/t steel    1.0

In [25]:
pd.DataFrame([row])

   technology material_category       metric_type        unit  value
0  Avg BF-BOF       Electricity  Purchased energy  GJ/t steel    1.0

# From Filesystem

In [4]:
from pathlib import Path

from mppsteel.config.model_scenarios import DEFAULT_SCENARIO
from mppsteel.config.model_config import USD_TO_EUR_CONVERSION_DEFAULT

In [5]:
scenario_dict = DEFAULT_SCENARIO.copy()
scenario_dict["usd_to_eur"] = USD_TO_EUR_CONVERSION_DEFAULT
scenario_dict["eur_to_usd"] = 1.0 / scenario_dict["usd_to_eur"]
project_dir = Path.cwd().parent.parent

In [9]:
pvci = PlantVariableCostsInput.from_filesystem(scenario_dict)

In [12]:
[(*key, price) for key, price in pvci.fossil_fuel_ref.items()][:10]

[(2020, 'ARM', 'Natural gas', 1.8957345971563981),
 (2020, 'AZE', 'Natural gas', 1.8957345971563981),
 (2020, 'BLR', 'Natural gas', 1.8957345971563981),
 (2020, 'KAZ', 'Natural gas', 1.8957345971563981),
 (2020, 'KGZ', 'Natural gas', 1.8957345971563981),
 (2020, 'MDA', 'Natural gas', 1.8957345971563981),
 (2020, 'RUS', 'Natural gas', 1.8957345971563981),
 (2020, 'TJK', 'Natural gas', 1.8957345971563981),
 (2020, 'TKM', 'Natural gas', 1.8957345971563981),
 (2020, 'UKR', 'Natural gas', 1.8957345971563981)]

In [20]:
%%time
df = pd.DataFrame(((*key, price) for key, price in pvci.fossil_fuel_ref.items()), columns=["year", "country_code", "material_category", "price"])

CPU times: user 14.6 ms, sys: 2.24 ms, total: 16.8 ms
Wall time: 15.1 ms

In [21]:
%%time
df = pd.DataFrame([(*key, price) for key, price in pvci.fossil_fuel_ref.items()], columns=["year", "country_code", "material_category", "price"])

CPU times: user 17.1 ms, sys: 2.18 ms, total: 19.3 ms
Wall time: 17.5 ms